[Unit]
Description=Speedtest CLI Journal Service

[Service]
User=root
CPUQuota=20%
Restart=always
RestartSec=3600
ExecStart=/usr/bin/speedtestdjournal.sh

[Install]
WantedBy=multi-user.target
